doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a(href='/', class='brand') 博客
		div.container
			div.page-header
				block header
			div.row
				div.span10
					block content
			div.footer.fixed-bottom
				div.pull-right.info
					div.name 付莹
					div.email yingfu@thoughtworks.com