body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  padding-top 60px
.footer
  border-top 1px solid whiteSmoke
  margin-top 30px
  .info
    padding 20px
#articles
  .row
    margin-left 0
    margin-bottom 30px
    border-bottom 1px solid whiteSmoke
.comments
  .title
    margin-bottom 30px
    border-top 1px solid whiteSmoke
  .row
    margin-left 0
    .column
      border-top 1px solid whiteSmoke
      padding 20px
  input, textarea
    width 100%
.title
    margin 10px 0
